<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>
        <div style="background-color: yellow;">Mustafa</div>
        <div style="background-color: yellow;">>Ahmed</div>

        <span style="background-color: green;">Saeed</span>
        <span style="background-color: green;">Omar</span>
    
    <p>Adam</p>
    </h1>
</body>
</html>